<a href="https://colab.research.google.com/github/samueleborgognoni/kmeans_nn_ILF_london_smart_meters/blob/main/1_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data cleaning

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

drive_folder_path = '/content/drive/MyDrive/-CareerðŸ“š/_UNIVERSITY/__Macchine_ed_azionamenti_elettrici/_Progetto_MAE/mae_proj/'

Mounted at /content/drive

In [ ]:
# Import first block of data
df = pd.read_csv(drive_folder_path + 'data/block_0.csv') # init
# Add to the df new blocks of data from different files
for i in range(1,15):
  # df.iloc[len(df)] = pd.read_csv(drive_folder_path + f'data/block_{i}.csv')
  df_i = pd.read_csv(drive_folder_path + f'data/block_{i}.csv')
  df = pd.concat([df, df_i], ignore_index=True)

df.shape

/tmp/ipython-input-540466962.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_i = pd.read_csv(drive_folder_path + f'data/block_{i}.csv')
/tmp/ipython-input-540466962.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_i = pd.read_csv(drive_folder_path + f'data/block_{i}.csv')
/tmp/ipython-input-540466962.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_i = pd.read_csv(drive_folder_path + f'data/block_{i}.csv')

(22370778, 3)

In [ ]:
# Display the header of DF
df.head(5)

       LCLid                         tstp energy(kWh/hh)
0  MAC000002  2012-10-12 00:30:00.0000000             0
1  MAC000002  2012-10-12 01:00:00.0000000             0
2  MAC000002  2012-10-12 01:30:00.0000000             0
3  MAC000002  2012-10-12 02:00:00.0000000             0
4  MAC000002  2012-10-12 02:30:00.0000000             0

In [ ]:
# Count the number of single LCLid (housholds)
df['LCLid'].nunique()

750

In [ ]:
# Count the number of samples for a given ID
id_count = df['LCLid'].value_counts() # type: pd.series
print(f"{id_count[:5]}\n{'-'*35}")

# Evaluate the variance of the number of samples for each ID
print(f"ID_count MEAN: {int(id_count.mean())}")
print(f"ID_count STD: {int(id_count.std())}")
print(f"ID_count MAX: {max(id_count)} \t -- ID: {id_count.argmax()}")
print(f"ID_count MIN: {min(id_count)} \t -- ID: {id_count.argmin()}")

LCLid
MAC000155    39705
MAC000193    39480
MAC000194    39462
MAC000246    39245
MAC000017    39087
Name: count, dtype: int64
-----------------------------------
ID_count MEAN: 29827
ID_count STD: 5611
ID_count MAX: 39705 	 -- ID: 0
ID_count MIN: 45 	 -- ID: 749

In [ ]:
df.head()

       LCLid                         tstp energy(kWh/hh)
0  MAC000002  2012-10-12 00:30:00.0000000             0
1  MAC000002  2012-10-12 01:00:00.0000000             0
2  MAC000002  2012-10-12 01:30:00.0000000             0
3  MAC000002  2012-10-12 02:00:00.0000000             0
4  MAC000002  2012-10-12 02:30:00.0000000             0

In [ ]:
# Count the NaN values
print(f"NaN values in 'energy(kWh/hh)': {len(df[df['energy(kWh/hh)'].isna()])}")
print(f"NaN values in 'tstp': {len(df[df['tstp'].isna()])}")

NaN values in 'energy(kWh/hh)': 0
NaN values in 'tstp': 0

In [ ]:
# Convert 'tstp' to datetime objects
df['tstp'] = pd.to_datetime(df['tstp'])

# Convert 'energy(kWh/hh)' to numeric, replacing non numeric values to NaN
df['energy(kWh/hh)'] = pd.to_numeric(df['energy(kWh/hh)'], errors='coerce')

In [ ]:
# Save the cleaned dataset into a new .csv file
df.to_csv(drive_folder_path + 'data/df_cleaned.csv', index=False)